Los resultados del modelo del Homework 5, de la clase 3 fueron satisfactorios, pero se tiene interés en conocer si aplicando redes neuronales se pueden obtener mejores clasificadores.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np 
sns.set()

In [2]:
from IPython.display import clear_output

In [3]:
df_conversiones = pd.read_csv("../Datasets/conversiones.csv", sep=",")

In [4]:
df_conversiones.head()

   Costo1  Costo2  Topico  Quincena  TipoProducto Conversion
0   0.341   0.299       2         7             1         Si
1   0.151   0.079       2         8             1         Si
2   0.384   0.324       4         9             1         Si
3   0.200   0.192       4         9             1         Si
4   0.415   0.020       2         8             1         Si

In [5]:
df_conversiones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319946 entries, 0 to 319945
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Costo1        319946 non-null  float64
 1   Costo2        319946 non-null  float64
 2   Topico        319946 non-null  int64
 3   Quincena      319946 non-null  int64
 4   TipoProducto  319946 non-null  int64
 5   Conversion    319946 non-null  object
dtypes: float64(2), int64(3), object(1)
memory usage: 14.6+ MB

In [6]:
df_conversiones.describe()

,Costo1,Costo2,Topico,Quincena,TipoProducto
count,319946.000000,319946.000000,319946.000000,319946.000000,319946.000000
mean,0.349474,0.361730,2.966194,12.845168,4.502994
std,0.270063,0.278102,1.172870,6.493443,2.179622
min,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.134000,0.138000,2.000000,7.000000,3.000000
50%,0.273000,0.280000,3.000000,13.000000,5.000000
75%,0.502000,0.556000,4.000000,19.000000,6.000000
max,1.000000,1.000000,5.000000,24.000000,8.000000

In [12]:
def plot_corre_heatmap(corr):
    '''
    Definimos una función para ayudarnos a graficar un heatmap de correlación
    '''
    plt.figure(figsize=(12,10))
    sns.heatmap(corr, cbar = True,  square = False, annot=True, fmt= '.2f'
                ,annot_kws={'size': 15},cmap= 'coolwarm')
    plt.xticks(rotation = 45)
    plt.yticks(rotation = 45)
    # Arreglamos un pequeño problema de visualización
    b, t = plt.ylim() # discover the values for bottom and top
    b += 0.5 # Add 0.5 to the bottom
    t -= 0.5 # Subtract 0.5 from the top
    plt.ylim(b, t) # update the ylim(bottom, top) values
    plt.show()

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X = df_conversiones[['Costo1','Costo2','Topico','Quincena','TipoProducto']]
y = df_conversiones['Conversion']

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42, stratify = y)