In [2]:
!pip install pymysql
import pandas as pd
import pymysql as ps, csv
import numpy as np
import sys

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.9 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [3]:
sys.setrecursionlimit(10000)
conexion = ps.connect(
    host = 'localhost',
    user='root',
    password= '1234wasd'
)
cursor = conexion.cursor()
query = 'use henry_m3'
cursor.execute(query)
conexion.commit()

OperationalError: ignored

**Crear Canal Venta**

*Eliminar tabla*

In [ ]:
query = 'drop table canal_venta'
cursor.execute(query)
conexion.commit()

*Crear la tabla*

In [ ]:
query = '''CREATE TABLE canal_venta (
            Codigo int,
            Descricion varchar(50));'''

cursor.execute(query)
conexion.commit()

*Tomar CSV*

*Lectura*

In [ ]:
archivo = pd.read_csv(r'Homework/CSV/CanalDeVenta.csv', index_col= False, delimiter=',')
archivo.replace(np.NaN, None, inplace=True)
archivo.head()
# lista = [tuple(archivo.loc[fila] for fila in range(len(archivo)))]

   CODIGO DESCRIPCION
0       1  Telefónica
1       2      OnLine
2       3  Presencial

*Insercion*

In [ ]:
for i, row in archivo.iterrows():
    
    query = "insert into canal_venta values (%s,%s);"
    cursor.execute(query,tuple(row))
    conexion.commit()

***TIPO DE GASTO***

*Eliminar*

In [ ]:
query = 'drop table if exists tipo_gasto'
cursor.execute(query)
conexion.commit()

*CREAR*

In [ ]:
query = 'create table tipo_gasto ( IDTipoGasto int(11) not null auto_increment, Descripcion varchar(100) not null, Monto_Aproximado decimal(10,2) not null, primary key (IDTipoGasto));'

cursor.execute(query)
conexion.commit()

*TOMAR CSV*

*Lectura*

In [ ]:
tabla = pd.read_csv(r'Homework/CSV/TiposDeGasto.csv',
                    index_col=False, delimiter=',')
tabla.replace(np.NaN, None, inplace=True)
tabla.head()

   IdTipoGasto         Descripcion  Monto_Aproximado
0            1            Alquiler              1000
1            2           Servicios               300
2            3           Impuestos               100
3            4  Sueldos y Jornales              1000

*Insercion*

In [ ]:
for i, row in tabla.iterrows():
    
    q = "insert into tipo_gasto values (%s,%s,%s);"
    cursor.execute(q,tuple(row))
    conexion.commit()

***CLIENTE***

*Leer CSV*

In [ ]:
tabla = pd.read_csv(r'Homework/CSV/Clientes.csv',
                    index_col=False, delimiter=';')
tabla.info()

tabla.fillna(' ', inplace=True)

tabla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3407 entries, 0 to 3406
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 3407 non-null   int64
 1   Provincia          3376 non-null   object
 2   Nombre_y_Apellido  3361 non-null   object
 3   Domicilio          3359 non-null   object
 4   Telefono           3317 non-null   object
 5   Edad               3407 non-null   int64
 6   Localidad          3375 non-null   object
 7   X                  3345 non-null   object
 8   Y                  3347 non-null   object
 9   col10              0 non-null      float64
dtypes: float64(1), int64(2), object(7)
memory usage: 266.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3407 entries, 0 to 3406
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 3407 non-null   int64
 1   Provincia          3407 non-null   object
 2   Nombre_y_Apellido  3407 non-null   object
 3   Domicilio          3407 non-null   object
 4   Telefono           3407 non-null   object
 5   Edad               3407 non-null   int64
 6   Localidad          3407 non-null   object
 7   X                  3407 non-null   object
 8   Y                  3407 non-null   object
 9   col10              3407 non-null   object
dtypes: int64(2), object(8)
memory usage: 266.3+ KB

*Insertar*

In [ ]:
for i, row in tabla.iterrows():
    q = "insert into cliente values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    cursor.execute(q,tuple(row))
    conexion.commit()

***PROVEEDOR***

*Leer CSV*

In [ ]:
proveedor = pd.read_csv(r'Homework/CSV/Proveedores.csv',
                        index_col=False, delimiter=',')

proveedor.fillna(' ', inplace=True)

proveedor.info()

*Insertar*

In [ ]:
for i, row in proveedor.iterrows():
    q = "insert into proveedor values (%s,%s,%s,%s,%s,%s,%s);"
    cursor.execute(q, tuple(row))
    conexion.commit()

***PRODUCTO***

*Leer CSV*

In [ ]:
producto = pd.read_csv(r'Homework/CSV/PRODUCTOS.csv',
                       index_col=False, delimiter=',')
producto.fillna(' ', inplace=True)

*Insertar*

In [ ]:
for i, row in producto.iterrows():
    q = "insert into producto values (%s,%s,%s,%s)"
    cursor.execute(q, tuple(row))
    conexion.commit()

***EMPLEADO***

*Leer CSV*

In [ ]:
empleado = pd.read_csv(r'Homework/CSV/Empleados.csv', index_col=False, delimiter=',')
empleado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_empleado  267 non-null    int64
 1   Apellido     267 non-null    object
 2   Nombre       267 non-null    object
 3   Sucursal     267 non-null    object
 4   Sector       267 non-null    object
 5   Cargo        267 non-null    object
 6   Salario      267 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 14.7+ KB

*Insertar*

In [ ]:
for i, row in empleado.iterrows():
    q = "insert into empleado values (%s,%s,%s,%s,%s,%s,%s)"
    cursor.execute(q, tuple(row))
    conexion.commit()

***SUCURSAL***

*Leer CSV*

In [ ]:
sucursal = pd.read_csv(r'Homework/CSV/Sucursales.csv', index_col=False, delimiter=';')
sucursal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         31 non-null     int64
 1   Sucursal   31 non-null     object
 2   Direccion  31 non-null     object
 3   Localidad  31 non-null     object
 4   Provincia  31 non-null     object
 5   Latitud    31 non-null     object
 6   Longitud   31 non-null     object
dtypes: int64(1), object(6)
memory usage: 1.8+ KB

*Insertar*

In [ ]:
for i, row in sucursal.iterrows():
    q = "insert into sucursal values (%s,%s,%s,%s,%s,%s,%s)"
    cursor.execute(q,tuple(row))
    conexion.commit()

***GASTO***

*Leer CSV*

In [ ]:
gasto = pd.read_csv(r'Homework/CSV/Gasto.csv', index_col=False, delimiter=',')
gasto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8640 entries, 0 to 8639
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   IdGasto      8640 non-null   int64
 1   IdSucursal   8640 non-null   int64
 2   IdTipoGasto  8640 non-null   int64
 3   Fecha        8640 non-null   object
 4   Monto        8640 non-null   float64
dtypes: float64(1), int64(3), object(1)
memory usage: 337.6+ KB

*Insertar*

In [ ]:
for i, row in gasto.iterrows():
    q = "insert into gasto values (%s,%s,%s,%s,%s)"
    cursor.execute(q, tuple(row))
    conexion.commit()

***COMPRA***

*Leer CSV*

In [ ]:
compra = pd.read_csv(r'Homework/CSV/Compra.csv', index_col= False, delimiter=',')
compra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11539 entries, 0 to 11538
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   IdCompra     11539 non-null  int64
 1   Fecha        11539 non-null  object
 2   IdProducto   11539 non-null  int64
 3   Cantidad     11539 non-null  int64
 4   Precio       11539 non-null  float64
 5   IdProveedor  11539 non-null  int64
dtypes: float64(1), int64(4), object(1)
memory usage: 541.0+ KB

*Insertar*

In [ ]:
for i, row in compra.iterrows():
    q = "insert into compra values (%s,%s,%s,%s,%s,%s)"
    cursor.execute(q, tuple(row))
    conexion.commit()

***VENTA***

*Leer CSV*

In [ ]:
venta = pd.read_csv(r'Homework/CSV/Venta.csv', index_col= False, delimiter=',')
venta.fillna(' ', inplace=True)
venta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46645 entries, 0 to 46644
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IdVenta        46645 non-null  int64
 1   Fecha          46645 non-null  object
 2   Fecha_Entrega  46645 non-null  object
 3   IdCanal        46645 non-null  int64
 4   IdCliente      46645 non-null  int64
 5   IdSucursal     46645 non-null  int64
 6   IdEmpleado     46645 non-null  int64
 7   IdProducto     46645 non-null  int64
 8   Precio         46645 non-null  object
 9   Cantidad       46645 non-null  object
dtypes: int64(6), object(4)
memory usage: 3.6+ MB

*Insertar*

In [ ]:
for i, row in venta.iterrows():
    q = "insert into venta values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    cursor.execute(q, tuple(row))
    conexion.commit()