In [36]:
import pymysql as ps
import pandas as pd
import numpy as np
import sys
sys.setrecursionlimit(100000)
conn = ps.connect(
    host = 'localhost',
    user = 'root',
    password = '1234wasd'
)

DIR = '../Clase 01/Homework/CSV/'
cursor = conn.cursor()

def exequery(q: str, tp = None):
    cursor.execute(q, tp)
    conn.commit()

exequery('use Repaso')

def csvread(ar: str, delim: str):
    path = f'{DIR}{ar}'
    archivo = pd.read_csv(path, index_col= False, delimiter= delim)
    archivo.fillna('', inplace=True)

    return archivo

# INSERTAR EN CANAL VENTAS

In [ ]:
path = r'../Clase 01/Homework/CSV/CanalDeVenta.csv'
archive = csvread(path, ',')

for i, row in archive.iterrows():
    exequery('INSERT INTO canal_venta values (%s, %s)', tuple(row))

# INSERTAR EN CLIENTE

In [8]:
tabla = pd.read_csv(r'../Clase 01/Homework/CSV/Clientes.csv',
                    index_col=False, delimiter=';')
tabla.info()

tabla.fillna(' ', inplace=True)

tabla.info()

for i, row in tabla.iterrows():
    q = "insert into cliente values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    cursor.execute(q,tuple(row))
    conn.commit()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3407 entries, 0 to 3406
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 3407 non-null   int64
 1   Provincia          3376 non-null   object
 2   Nombre_y_Apellido  3361 non-null   object
 3   Domicilio          3359 non-null   object
 4   Telefono           3317 non-null   object
 5   Edad               3407 non-null   int64
 6   Localidad          3375 non-null   object
 7   X                  3345 non-null   object
 8   Y                  3347 non-null   object
 9   col10              0 non-null      float64
dtypes: float64(1), int64(2), object(7)
memory usage: 266.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3407 entries, 0 to 3406
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 3407 non-null   int64
 1   Provincia          3407 non-null   object
 2   Nombre_y_Apellido  3407 non-null   object
 3   Domicilio          3407 non-null   object
 4   Telefono           3407 non-null   object
 5   Edad               3407 non-null   int64
 6   Localidad          3407 non-null   object
 7   X                  3407 non-null   object
 8   Y                  3407 non-null   object
 9   col10              3407 non-null   object
dtypes: int64(2), object(8)
memory usage: 266.3+ KB

# INSERTAR EN COMPRA

In [ ]:
path = r'../Clase 01/Homework/CSV/Compra.csv'
archive = csvread(path, ',')

archive.info()

In [7]:
for i, row in archive.iterrows():
    q = "insert into compra values (%s,%s,%s,%s,%s,%s)"
    cursor.execute(q, tuple(row))
    conn.commit()

# INSERTAR EN EMPLEADO

In [9]:
path = r'../Clase 01/Homework/CSV/Empleados.csv'
table = csvread(path, ',')

table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_empleado  267 non-null    int64
 1   Apellido     267 non-null    object
 2   Nombre       267 non-null    object
 3   Sucursal     267 non-null    object
 4   Sector       267 non-null    object
 5   Cargo        267 non-null    object
 6   Salario      267 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 14.7+ KB

In [11]:
q = 'insert into empleado values (%s,%s,%s,%s,%s,%s,%s)'
for i, row in table.iterrows():
    exequery(q, tuple(row))

# INSERTAR EN GASTO

In [37]:
path = 'Gasto.csv'
table = csvread(path, ',')

table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8640 entries, 0 to 8639
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   IdGasto      8640 non-null   int64
 1   IdSucursal   8640 non-null   int64
 2   IdTipoGasto  8640 non-null   int64
 3   Fecha        8640 non-null   object
 4   Monto        8640 non-null   float64
dtypes: float64(1), int64(3), object(1)
memory usage: 337.6+ KB

In [13]:
q = 'insert into gasto values (%s,%s,%s,%s,%s)'

for i , row in table.iterrows():
    exequery(q, tuple(row))

# INSERTAR PRODUCTO

In [34]:
b = 'PRODUCTOS.CSV'
path = f'{dir}{b}'
table =csvread(path, ',')

table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291 entries, 0 to 290
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_PRODUCTO  291 non-null    int64
 1   Concepto     291 non-null    object
 2   Tipo         291 non-null    object
 3    Precio      291 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 9.2+ KB