In [2]:
import pandas as pd
import pymysql as ps, csv
import numpy as np
import sys

In [12]:
sys.setrecursionlimit(10000)
conexion = ps.connect(
    host = 'localhost',
    user='root',
    password= '1234wasd'
)
cursor = conexion.cursor()
query = 'use henry_m3'
cursor.execute(query)
conexion.commit()

**Crear Canal Venta**

*Eliminar tabla*

In [3]:
query = 'drop table canal_venta'
cursor.execute(query)
conexion.commit()

*Crear la tabla*

In [4]:
query = '''CREATE TABLE canal_venta (
            Codigo int,
            Descricion varchar(50));'''

cursor.execute(query)
conexion.commit()

*Tomar CSV*

*Lectura*

In [8]:
archivo = pd.read_csv(r'Homework/CSV/CanalDeVenta.csv', index_col= False, delimiter=',')
archivo.replace(np.NaN, None, inplace=True)
archivo.head()
# lista = [tuple(archivo.loc[fila] for fila in range(len(archivo)))]

   CODIGO DESCRIPCION
0       1  Telefónica
1       2      OnLine
2       3  Presencial

*Insercion*

In [12]:
for i, row in archivo.iterrows():
    
    query = "insert into canal_venta values (%s,%s);"
    cursor.execute(query,tuple(row))
    conexion.commit()

***TIPO DE GASTO***

*Eliminar*

In [14]:
query = 'drop table if exists tipo_gasto'
cursor.execute(query)
conexion.commit()

*CREAR*

In [15]:
query = 'create table tipo_gasto ( IDTipoGasto int(11) not null auto_increment, Descripcion varchar(100) not null, Monto_Aproximado decimal(10,2) not null, primary key (IDTipoGasto));'

cursor.execute(query)
conexion.commit()

*TOMAR CSV*

*Lectura*

In [11]:
tabla = pd.read_csv(r'Homework/CSV/TiposDeGasto.csv',
                    index_col=False, delimiter=',')
tabla.replace(np.NaN, None, inplace=True)
tabla.head()

   IdTipoGasto         Descripcion  Monto_Aproximado
0            1            Alquiler              1000
1            2           Servicios               300
2            3           Impuestos               100
3            4  Sueldos y Jornales              1000

*Insercion*

In [23]:
for i, row in tabla.iterrows():
    
    q = "insert into tipo_gasto values (%s,%s,%s);"
    cursor.execute(q,tuple(row))
    conexion.commit()

***CLIENTE***

*Leer CSV*

In [20]:
tabla = pd.read_csv(r'Homework/CSV/Clientes.csv',
                    index_col=False, delimiter=';')
tabla.info()

tabla.fillna(' ', inplace=True)

tabla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3407 entries, 0 to 3406
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 3407 non-null   int64
 1   Provincia          3376 non-null   object
 2   Nombre_y_Apellido  3361 non-null   object
 3   Domicilio          3359 non-null   object
 4   Telefono           3317 non-null   object
 5   Edad               3407 non-null   int64
 6   Localidad          3375 non-null   object
 7   X                  3345 non-null   object
 8   Y                  3347 non-null   object
 9   col10              0 non-null      float64
dtypes: float64(1), int64(2), object(7)
memory usage: 266.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3407 entries, 0 to 3406
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 3407 non-null   int64
 1   Provincia          3407 non-null   object
 2   Nombre_y_Apellido  3407 non-null   object
 3   Domicilio          3407 non-null   object
 4   Telefono           3407 non-null   object
 5   Edad               3407 non-null   int64
 6   Localidad          3407 non-null   object
 7   X                  3407 non-null   object
 8   Y                  3407 non-null   object
 9   col10              3407 non-null   object
dtypes: int64(2), object(8)
memory usage: 266.3+ KB

*Insertar*

In [21]:
for i, row in tabla.iterrows():
    q = "insert into cliente values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    cursor.execute(q,tuple(row))
    conexion.commit()