In [2]:
# !pip install pymysql
import sys

import numpy as np
import pandas as pd
import pymysql as ps

sys.setrecursionlimit(100000)
conn = ps.connect(host="localhost", 
                  user="root", password="1234wasd",
                  db='Henry', 
                  autocommit=True)

DIR = "CSV/"
cursor = conn.cursor()


def exequery(q: str, tp=None):
    cursor.execute(q, tp)
    # conn.commit()


exequery("use M3_2")


def csvread(ar: str, delim: str):
    path = f"{DIR}{ar}"
    archivo = pd.read_csv(path, index_col=False, delimiter=delim)
    archivo.fillna("", inplace=True)

    return archivo

# __CREACIÓN DE TABLAS__

## CANAL VENTA

In [ ]:
q = "drop table if exists Canal_Venta;"
exequery(q)
q = """CREATE TABLE Canal_Venta (
            Codigo int,
            Descricpion varchar(50));"""
exequery(q)

## TIPO DE GASTO

*Eliminar*

In [ ]:
q = "drop table if exists Tipo_Gasto;"
exequery(q)

*CREAR*

In [ ]:
q = "create table Tipo_Gasto ( IDTipoGasto int(11) not null, Descripcion varchar(100) not null, Monto_Aproximado decimal(10,2) not null);"
exequery(q)

## CLIENTE

In [ ]:
q = "drop table if exists Cliente;"
exequery(q)
q = '''create table if not exists Cliente (
    IDCliente                   int not null,
    Nombre_Y_Apellido           varchar(50) not null,
    Provincia                   varchar(125),
    Domicilio                   varchar(150),
    Telefono                    varchar(50),
    Edades                      int,
    Localidad                   varchar(150),
    X                           varchar(100),
    Y                           varchar(100),
    col10                       varchar(1)
    );'''
exequery(q)

_CREAR_

## PROVEEDOR

_ELIMINAR_

In [ ]:
q = "drop table if exists Proveedor;"
exequery(q)

In [ ]:
q = """create table if not exists Proveedor(
    IDProveedor  int not null,
    Nombre       varchar(25) not null,
    Dirreccion   varchar(150),
    Ciudad       varchar(125),
    Región       varchar(125),
    País         varchar(125),
    Departamento varchar(125));"""
exequery(q)

## PRODUCTO

In [ ]:
q = "drop table if exists Producto;"
exequery(q)

q = """create table if not exists Producto (
    IDProducto          int not null,
    Concepto            varchar(250),
    Tipo                varchar(50),
    Precio              decimal(15,2) not null
    );"""
exequery(q)

## EMPLEADO

In [ ]:
q = "drop table if exists Empleado;"
exequery(q)
q = '''create table if not exists Empleado (
    IDEmpleado   int not null,
    Apellido     varchar(25) not null,
    Nombre       varchar(25) not null,
    Sucursal     varchar(25) not null,
    Sector       varchar(25) not null,
    Cargo        varchar(25) not null,
    Salario      decimal(15,2)
    );'''
exequery(q)

## SUCURSAL

In [ ]:
q = "drop table if exists Sucursal;"
exequery(q)
q = """create table if not exists Sucursal (
    IDSucursal         int not null,
    Sucursal           varchar(25),
    Direccion          varchar(50),
    Localidad          varchar(50),
    Provincia          varchar(50),
    Latitud            varchar(100),
    Longitud           varchar(100));"""
exequery(q)

## GASTO

In [ ]:
q = "drop table if exists Gasto;"
exequery(q)
q = """create table if not exists Gasto (
   IDGasto      int not null,
   SucursalID   int not null,
   TipoGastoID  int not null,
   Fecha        date,
   Monto        decimal(15,2));"""
exequery(q)

## COMPRA

In [ ]:
q = "drop table if exists Compra"
exequery(q)
q = """create table if not exists Compra (
    IDCompra     int not null,
    Fecha        date,
    IdProducto   int not null,
    Cantidad     int not null,
    Precio       decimal(15,2),
    IdProveedor  int not null
    );"""
exequery(q)

## VENTA

In [ ]:
q = "drop table if exists Venta;"
exequery(q)
q = """create table if not exists Venta (
    IDVenta        int not null,
    Fecha          date,
    Fecha_Entrega  date,
    IdCanal        int not null,
    IdCliente      int not null,
    IdSucursal     int not null,
    IdEmpleado     int not null,
    IdProducto     int not null,
    Precio         varchar(17) not null,
    Cantidad       varchar(50) not null);"""
exequery(q)

# LLENACIÓN DE TABLAS

## CANAL VENTA

In [ ]:
path = "CanalDeVenta.csv"
archive = csvread(path, ",")

for i, row in archive.iterrows():
    exequery("INSERT INTO Canal_Venta values (%s, %s)", tuple(row))

## TIPO GASTO

In [ ]:
path = "TiposDeGasto.csv"
ar = csvread(path, ",")

for i, row in ar.iterrows():
    exequery("insert into Tipo_Gasto values (%s, %s, %s)", tuple(row))

## CLIENTE

*Leer CSV*

In [ ]:
path = "Clientes.csv"
ar = csvread(path, ";")
ar.info()

for i, row in ar.iterrows():
    cursor.execute("insert into Cliente values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)", tuple(row))

## PROVEEDOR

*Leer CSV*

In [ ]:
proveedor = pd.read_csv(r"CSV/Proveedores.csv", index_col=False, delimiter=",")

proveedor.fillna(" ", inplace=True)

proveedor.info()

*Insertar*

In [ ]:
for i, row in proveedor.iterrows():
    q = "insert into Proveedor values (%s,%s,%s,%s,%s,%s,%s);"
    cursor.execute(q, tuple(row))
    conn.commit()

## PRODUCTO

*Leer CSV*

In [ ]:
producto = pd.read_csv(r"CSV/PRODUCTOS.csv", index_col=False, delimiter=",")
producto.fillna(" ", inplace=True)
producto.info()

*Insertar*

In [ ]:
for i, row in producto.iterrows():
    q = "insert into Producto values (%s,%s,%s,%s)"
    cursor.execute(q, tuple(row))
    conn.commit()

## EMPLEADO

*Leer CSV*

In [ ]:
empleado = pd.read_csv(r"CSV/Empleados.csv", index_col=False, delimiter=",")
empleado.info()

*Insertar*

In [ ]:
for i, row in empleado.iterrows():
    q = "insert into Empleado values (%s,%s,%s,%s,%s,%s,%s)"
    cursor.execute(q, tuple(row))
    conn.commit()

## SUCURSAL

*Leer CSV*

In [ ]:
sucursal = pd.read_csv(r"CSV/Sucursales.csv", index_col=False, delimiter=";")
sucursal.info()

*Insertar*

In [ ]:
for i, row in sucursal.iterrows():
    q = "insert into Sucursal values (%s,%s,%s,%s,%s,%s,%s)"
    cursor.execute(q, tuple(row))
    conn.commit()

## GASTO

*Leer CSV*

In [ ]:
gasto = pd.read_csv(r"CSV/Gasto.csv", index_col=False, delimiter=",")
gasto.info()

*Insertar*

In [ ]:
for i, row in gasto.iterrows():
    q = "insert into Gasto values (%s,%s,%s,%s,%s)"
    cursor.execute(q, tuple(row))
    conn.commit()

## COMPRA

*Leer CSV*

In [ ]:
compra = pd.read_csv(r"CSV/Compra.csv", index_col=False, delimiter=",")
compra.info()

*Insertar*

In [ ]:
for i, row in compra.iterrows():
    q = "insert into Compra values (%s,%s,%s,%s,%s,%s)"
    cursor.execute(q, tuple(row))
    conn.commit()

## VENTA

*Leer CSV*

In [ ]:
venta = pd.read_csv(r"CSV/Venta.csv", index_col=False, delimiter=",")
venta.fillna("", inplace=True)
venta.info()

*Insertar*

In [ ]:
for i, row in venta.iterrows():
    q = "insert into Venta values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    cursor.execute(q, tuple(row))
    conn.commit()

__CERRAR CONEXIÓN__

In [ ]:
cursor.close()